{% extends 'home.html' %}

{% block content %}
{% comment %} <a href="{% url 'login'%}">Login</a>|<a href="{% url 'register'%}">Register</a> {% endcomment %}
<center>
<form action="#" method="POST">
      {% csrf_token %}
      
<h1>Login Page</h1>
<div class="card-body">
                    {% if messages %}
          <div class="alert alert-danger">
                   {% for message in messages %}
                  <p>{{ message }}</p>
                  {% endfor %}
            </div>
                  {% endif %}
        </div>
  <div class="container">
    <label for="email"><b>Email:</b></label>
    <input type="email" id= "email" placeholder="Enter Email address" name="email" required>
    <br>
    <br>

    <label for="password"><b>Password</b></label>
    <input type="password" id= "password" placeholder="Enter Password" name="password" required>
<br>
<br>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    <br>
    <br>

    {% comment %} <button type="submit">Login</button> {% endcomment %}
    <button type="submit">Login</button> 
    
    <br>
    <br>
    <span></span><a href = "#" m-3> Forget Password? </a>
    
    
  </div>
</form>
</center>

{% endblock content %}
